@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&family=PT+Serif&display=swap');

:root {
    --primary-color: #050115;
    --secondary-color: #a1d1d5;
    --accent1-color: #889234;
    --accent2-color: #7ac8e1;
    --heading-font: 'Source Serif 4', serif;
    --paragraph-font: 'PT Serif', serif;
    --nav-background-color: #0744bf;
    --nav-link-color: #faf4f5;
    --nav-hover-link-color: #889234;
    --nav-hover-background-color: #7ac8e1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}

.hero h1, .hero p {
    color: var(--accent1-color);
}

.sociallinks a {
    text-decoration: none;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--accent1-color);
    font-size: 2.5em;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.hero article img {
    float: right;
}

footer {
    text-align: center;
    padding: 20px;
}

.sociallinks a {
    display: inline-block;
    margin: 0 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.sociallinks img {
    width: 100%;
    height: 100%;
}
