@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #050115;
    --secondary-color: #a1d1d5;
    --accent1-color: #889234;
    --accent2-color: #7ac8e1;

    --heading-font: 'Source Serif 4';
    --paragraph-font: 'Pt Serif';

    --nav-background-color: #0744bf;
    --nav-link-color: #0744bf;
    --nav-hover-link-color: #889234;
    --nav-hover-background-color: #7ac8e1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
